<!--
SPDX-FileCopyrightText: Fondation RERO+
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <span class="mb-4 block text-7xl tracking-tight font-extrabold lg:text-8xl text-heading">
        {{ status() }}
      </span>
      <div class="mb-4 text-xl font-light text-ink-muted">
        {{ description() }}
      </div>
      <div class="mt-4">
        <a routerLink="/">Back to home</a>
      </div>
    </div>
  </div>
</section>
